In [9]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv('/home/gabib/workspace/unsupervised/data/MIMIC III per sentence annotated dataset - Sheet1.csv')

In [3]:
!pip install xlrd

Looking in indexes: https://ai:****@aidoc.jfrog.io/artifactory/api/pypi/pypi/simple, https://ai.reader:****@aidoc.jfrog.io/aidoc/api/pypi/pypi/simple
Requirement already satisfied: xlrd in /home/gabib/anaconda3/lib/python3.8/site-packages (2.0.1)
WARNING: You are using pip version 21.3.1; however, version 22.3.1 is available.
You should consider upgrading via the '/home/gabib/anaconda3/bin/python -m pip install --upgrade pip' command.

In [16]:
df.groupby(['sentence']).size().to_frame('x').reset_index()['x']

0        1
1        1
2        1
3        1
4        1
        ..
77519    1
77520    1
77521    1
77522    1
77523    1
Name: x, Length: 77524, dtype: int64

In [6]:
df.sample(4)

                                                sentence   code
37683  she understood the risks involved with this su...   K766
65859  coronary artery disease status post non-st-ele...  I25.2
1579   history of sepsis and intubation with atrial f...  I4891
6115   75 year old man with copd and respiratory failure  J9620

In [7]:
code_to_counter_df = df.groupby(['code']).size().to_frame('size').reset_index()


code_to_counter_df['percet'] = code_to_counter_df['size']/len(df)

In [10]:
np.sum(code_to_counter_df['percet'] )

1.0

In [11]:
codes = code_to_counter_df['code']
weights = code_to_counter_df['percet']

In [13]:
from numpy.random import choice
draw = np.random.choice(codes, 1,  p=weights)[0]
draw

'Z79.4'

In [14]:
codes

0       A419
1       B182
2       C787
3      C7931
4       D696
5       E039
6       E119
7        E46
8      E6601
9       E780
10     F0280
11    F10239
12      F319
13      F329
14      F341
15      G936
16       I10
17      I129
18      I200
19      I214
20     I25.2
21     I2510
22     I2699
23      I469
24      I472
25     I4891
26      I509
27      I609
28      I619
29     I6350
30     I6529
31      I714
32      I739
33    J15211
34      J449
35      J690
36       J80
37     J9620
38      K219
39     K7030
40      K766
41      M069
42      M810
43      N179
44      N186
45      N189
46      R569
47      R570
48    R65.21
49     Z79.4
Name: code, dtype: object